<!DOCTYPE html>
<html>
<head>
  <title>TopgradeLogistic</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<body style="background-color:#F5F5F5;" class="<%= "#{action_name}-action #{controller_name}-controller" %>">

<div class="header">
  <div class="container"> 

    <input type="checkbox" id="menu-switch">
    <ul class="menu row">
      <li class="col-md-2">
        <h4 class="logo">
          <%= link_to "上品物流", orders_path()%>
        </h4>
      </li> 
      <li class="col-md-1">
        <%= link_to "下單", new_order_path()%>
      </li>
      <li class="col-md-1"><a href="#">服務</a></li>
      <li class="col-md-1"><a href="#">問題</a></li>
      <li class="col-md-1"><a href="#">聯絡</a></li>
   
      <li class="col-md-2 col-md-offset-4">   
        <% if current_user %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
        <% else %>
          <%= link_to('註冊', new_registration_path(:user)) %> 
          <%= link_to('登入', new_session_path(:user)) %>
        <% end %>
      </li>

    </ul>   
    <label for="menu-switch" class="label-switch"><span class="glyphicon glyphicon-menu-hamburger"></span></label> 

  </div>
</div>

<div class="container">
  <div class="row">
	  <div class="col-md-12">
      <% if flash[:notice].present? %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert].present? %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
			<%= yield %>
		</div>
	</div>
</div>

<footer>
  <div class="footer">
    <p class="brand">
       <span>上品物流 © 2016</span>
    </p>
  </div>
</footer>


</body>
</html>
